body, html {
  height: auto !important;
}

.uk-main {
  display: flex;
  height: 100%;
}

.uk-content {
  position: relative;
  width: 100%;
  padding-left: 250px;
  flex-grow: 1;
  background: #f3f3f3;
}

.uk-aside {
  flex-shrink: 0;
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  background: #fff;
  z-index: 2;
  border-right: 1px solid #eee;
}

.uk-aside__logo {
  display: block;
  border-bottom: 1px solid #eeeeee;
}

.uk-aside__list {
  margin: 0;
  padding-top: 45px;
}

.uk-aside__list-item a {
  display: block;
  padding: 12px 16px 12px 29px;
  color: #777;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  border-left: 0 solid var(--primary);
  outline: none;
  transition: all 0.4s ease;
}

.uk-aside__list-item a:hover {
  color: var(--primary);
  border-left: 4px solid var(--primary);
}

.uk-aside__list-item a.active {
  color: var(--primary);
  border-left: 4px solid var(--primary);
}

.uk-header {
  background: #fff;
  display: block;
  position: fixed;
  height: 65px;
  width: calc(100% - 250px);
  top: 0;
  left: 250px;
  right: 0;
  z-index: 2;
  border-bottom: 1px solid #eee;
  font-family: 'Roboto', sans-serif;
}

.uk-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 30px;
}

.uk-header__copyright {
  font-size: 14px;
}

.uk-header__breakpoints {
  display: flex;
  align-items: center;
  margin: 0;
}

.uk-header__breakpoint:not(:last-of-type) {
  margin-right: 20px;
}

.uk-header__breakpoint-link {
  display: flex;
  align-items: center;
}

.uk-header__breakpoint-link:hover::before {
  border-color: var(--primary);
}

.uk-header__breakpoint-link::before {
  content: "";
  margin-right: 5px;
  border-radius: 5px;
  border: 2px solid #888;
  flex-shrink: 0;
}

.uk-header__breakpoint-link--small::before {
  width: 17px;
  height: 25px;
}

.uk-header__breakpoint-link--medium::before {
  width: 25px;
  height: 35px;
}

.uk-header__breakpoint-link--large::before {
  width: 45px;
  height: 35px;
}

.uk-header__breakpoint-link--full::before {
  width: 50px;
  height: 40px;
  border-style: dashed;
}

.uk-wrapper {
  width: 100%;
  background: #fff;
  padding: 0 15px;
  padding-top: 65px;
  margin: 0 auto;
  transition: 0.4s width cubic-bezier(0.37, 0.62, 0.47, 0.72);
}

.uk-section {
  color: #000;
  padding: 75px 0;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
  font-family: "Roboto";
}

.uk-section__title {
  margin-bottom: 45px;
  font-weight: 900;
  font-size: 36px;
  color: #000;
  text-transform: uppercase;
}

.uk-section__article:not(:last-of-type) {
  margin-bottom: 50px;
}

.uk-section__article > h3 {
  text-transform: uppercase;
  color: #999;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 25px;
}

.uk-colorlist {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.uk-colorlist li {
  margin: 20px;
  display: flex;
  flex-basis: calc(30% - 20px);
  min-width: 320px;
}

.uk-colorlist li p {
  margin: 0;
}

.uk-colorlist li i {
  width: 70px;
  height: 70px;
  margin-right: 15px;
  display: block;
  border-radius: 50%;
  flex-shrink: 0;
}

.uk-colorlist li i.uk-color--rpurp {
  background: #6749af;
}

.uk-colorlist li i.uk-color--midblue {
  background: #310a7f;
}

.uk-colorlist li i.uk-color--evour {
  background: #441e92;
}

.uk-colorlist li i.uk-color--fsblue {
  background: #58389f;
}

.uk-colorlist li i.uk-color--fsblue2 {
  background: #6e52ab;
}

.uk-colorlist li i.uk-color--rblue {
  background: #826ab7;
}

.uk-colorlist li i.uk-color--cornblue {
  background: #9784c4;
}

.uk-colorlist li i.uk-color--skyblue {
  background: #c0b5dc;
}

.uk-colorlist li i.uk-color--lavender {
  background: #d6cee7;
}

.uk-colorlist li i.uk-color--aliceblue {
  background: #eae7f3;
}

.uk-colorlist li i.uk-color--midexp {
  background: #202834;
}

.uk-colorlist li i.uk-color--manatee {
  background: #90949b;
}

.uk-colorlist li i.uk-color--arsenic {
  background: #363e49;
}

.uk-colorlist li i.uk-color--fiord {
  background: #4d535e;
}

.uk-colorlist li i.uk-color--shutgrey {
  background: #636972;
}

.uk-colorlist li i.uk-color--stormgrey {
  background: #797e86;
}

.uk-colorlist li i.uk-color--manatee {
  background: #90949b;
}

.uk-colorlist li i.uk-color--mischka {
  background: #a6a9af;
}

.uk-colorlist li i.uk-color--heather {
  background: #bcbfc2;
}

.uk-colorlist li i.uk-color--zumthor {
  background: #d2d4d6;
}

.uk-colorlist li i.uk-color--zirkon {
  background: #e9eaeb;
}

.uk-colorlist li i.uk-color--dpgreen {
  background: #00c853;
}

.uk-colorlist li i.uk-color--rorange {
  background: #f44336;
}

.uk-type__class {
  display: flex;
  align-items: center;
}

.uk-type__class pre {
  margin: 0 0 0 10px;
  border: 1px solid #ccc;
  font-size: 13px;
  padding: 5px;
}

.uk-typoglist {
  margin: 0;
  max-width: 550px;
}

.uk-typoglist li {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.uk-typoglist li > div {
  margin-left: 20px;
  flex-basis: 40%;
}

.uk-typoglist li i {
  width: 70px;
  height: 70px;
  margin-right: 15px;
  display: block;
  border-radius: 50%;
  flex-shrink: 0;
}

.uk-typoglist li p {
  margin: 0;
}

:root {
  --main-color: #d7442b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

::-webkit-input-placeholder {
  opacity: 1;
  color: #000;
  transition: 0.4s opacity, 0.4s -webkit-transform;
  transition: 0.4s transform, 0.4s opacity;
  transition: 0.4s transform, 0.4s opacity, 0.4s -webkit-transform;
}

:-ms-input-placeholder {
  opacity: 1;
  color: #000;
  transition: 0.4s opacity, 0.4s -webkit-transform;
  transition: 0.4s transform, 0.4s opacity;
  transition: 0.4s transform, 0.4s opacity, 0.4s -webkit-transform;
}

::-ms-input-placeholder {
  opacity: 1;
  color: #000;
  transition: 0.4s opacity, 0.4s -webkit-transform;
  transition: 0.4s transform, 0.4s opacity;
  transition: 0.4s transform, 0.4s opacity, 0.4s -webkit-transform;
}

::placeholder {
  opacity: 1;
  color: #000;
  transition: 0.4s opacity, 0.4s -webkit-transform;
  transition: 0.4s transform, 0.4s opacity;
  transition: 0.4s transform, 0.4s opacity, 0.4s -webkit-transform;
}

::selection {
  background: var(--main-color);
  color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 3px;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.65;
  color: #828282;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  z-index: 222;
  left: 50%;
  height: 100%;
  width: 1px;
  background: red;
}

a, button {
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  color: #000;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

strong, b {
  font-weight: bold;
}

ul {
  list-style: none;
}

input,
textarea,
select {
  background: transparent;
  width: 100%;
  display: block;
  padding: 5px 0;
  font-size: 16px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 300;
  line-height: normal;
  border: none;
  outline: none;
  color: #525252;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: #CFDDE2;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #CFDDE2;
  opacity: 1;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder,
select::-ms-input-placeholder {
  color: #CFDDE2;
  opacity: 1;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #CFDDE2;
  opacity: 1;
}

textarea {
  resize: vertical;
  max-height: 200px;
  min-height: 32px;
  height: 32px;
}

input[type='radio'],
input[type='checkbox'],
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  cursor: pointer;
}

select {
  background: url("../img/arrow-down.svg") no-repeat right 10px center/15px;
  padding-right: 30px;
}

input:focus::-webkit-input-placeholder {
  -webkit-transform: translateX(9px);
          transform: translateX(9px);
  opacity: 0;
}

input:focus:-ms-input-placeholder {
  transform: translateX(9px);
  opacity: 0;
}

input:focus::-ms-input-placeholder {
  transform: translateX(9px);
  opacity: 0;
}

input:focus::placeholder {
  -webkit-transform: translateX(9px);
          transform: translateX(9px);
  opacity: 0;
}

input[type='checkbox'], input[type='radio'] {
  background: #fff;
  position: relative;
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  transition: 0.2s;
}

input[type='checkbox'] {
  border-radius: 2px;
}

input[type='checkbox']::before {
  content: "";
  position: absolute;
  top: 0;
  left: 4px;
  width: 6px;
  height: 12px;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  -webkit-transform: rotate(45deg) scale(0);
          transform: rotate(45deg) scale(0);
  transition: 0.2s;
}

input[type='checkbox']:checked {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

input[type='checkbox']:checked::before {
  -webkit-transform: rotate(45deg) scale(1);
          transform: rotate(45deg) scale(1);
}

input[type='radio'] {
  border-radius: 50%;
}

input[type='radio']::before {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  top: 3px;
  left: 3px;
  border: none;
  width: 8px;
  height: 8px;
  border-radius: inherit;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: 0.2s;
}

input[type='radio']:checked {
  border-color: var(--main-color);
  background-color: #fff;
}

input[type='radio']:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* COLORS */
.uk-color--rpurp {
  color: #6749af !important;
}

.uk-color--midblue {
  color: #310a7f !important;
}

.uk-color--evour {
  color: #441e92 !important;
}

.uk-color--fsblue {
  color: #58389f !important;
}

.uk-color--fsblue2 {
  color: #6e52ab !important;
}

.uk-color--rblue {
  color: #826ab7 !important;
}

.uk-color--cornblue {
  color: #9784c4 !important;
}

.uk-color--skyblue {
  color: #c0b5dc !important;
}

.uk-color--lavender {
  color: #d6cee7 !important;
}

.uk-color--aliceblue {
  color: #eae7f3 !important;
}

.uk-color--midexp {
  color: #202834 !important;
}

.uk-color--manatee {
  color: #90949b !important;
}

.uk-color--arsenic {
  color: #363e49 !important;
}

.uk-color--fiord {
  color: #4d535e !important;
}

.uk-color--shutgrey {
  color: #636972 !important;
}

.uk-color--stormgrey {
  color: #797e86 !important;
}

.uk-color--manatee {
  color: #90949b !important;
}

.uk-color--mischka {
  color: #a6a9af !important;
}

.uk-color--heather {
  color: #bcbfc2 !important;
}

.uk-color--zumthor {
  color: #d2d4d6 !important;
}

.uk-color--zirkon {
  color: #e9eaeb !important;
}

.uk-color--dpgreen {
  color: #00c853 !important;
}

.uk-color--rorange {
  color: #f44336 !important;
}

/* TYPOGRAPHY */
.uk-h1 {
  font-size: 48px !important;
  font-weight: normal !important;
  color: #000;
  margin: 0 0 20px 0 !important;
}

.uk-h2 {
  font-size: 34px !important;
  font-weight: normal !important;
  letter-spacing: 0.25px;
  color: #000;
  margin: 0 0 20px 0 !important;
}

.uk-h3 {
  font-size: 24px !important;
  font-weight: normal !important;
  color: #000;
  margin: 0 0 15px 0 !important;
}

.uk-h4 {
  font-size: 20px !important;
  font-weight: 500 !important;
  letter-spacing: 0.25px;
  color: #000;
  margin: 0 0 10px 0 !important;
}

.uk-txt1 {
  font-weight: normal !important;
  font-size: 16px !important;
}

.uk-txt2 {
  font-weight: 500 !important;
  font-size: 14px !important;
  letter-spacing: 0.15px;
}

.uk-txt3 {
  font-weight: normal !important;
  font-size: 16px !important;
}

.uk-txt4 {
  font-weight: normal !important;
  font-size: 14px !important;
}

.uk-txt5 {
  font-weight: normal !important;
  font-size: 12px !important;
  letter-spacing: 0.5px;
}

.uk-txt6 {
  font-weight: normal !important;
  font-size: 12px !important;
  letter-spacing: 1.5px;
}

.uk-txt7 {
  font-weight: 500 !important;
  font-size: 14px !important;
  letter-spacing: 0.5px;
}
