.uk-main {
  display: flex;
  height: 100%;
}

.uk-content {
  position: relative;
  width: 100%;
  margin-left: 250px;
  flex-grow: 1;
  background: #f3f3f3;
}

.uk-aside {
  flex-shrink: 0;
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  background: #fff;
  z-index: 2;
  border-right: 1px solid #eee;
}

.uk-aside__logo {
  display: block;
  border-bottom: 1px solid #eeeeee;
}

.uk-aside__list {
  margin: 0;
  padding-top: 45px;
}

.uk-aside__list-item a {
  display: block;
  padding: 12px 16px 12px 29px;
  color: #777;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  border-left: 0 solid var(--primary);
  outline: none;
  transition: all 0.4s ease;
}

.uk-aside__list-item a:hover {
  color: var(--primary);
  border-left: 4px solid var(--primary);
}

.uk-aside__list-item a.active {
  color: var(--primary);
  border-left: 4px solid var(--primary);
}

.uk-header {
  background: #fff;
  display: block;
  position: fixed;
  height: 65px;
  width: calc(100% - 250px);
  top: 0;
  left: 250px;
  right: 0;
  z-index: 2;
  border-bottom: 1px solid #eee;
  font-family: 'Roboto', sans-serif;
}

.uk-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 30px;
}

.uk-header__copyright {
  font-size: 14px;
}

.uk-header__breakpoints {
  display: flex;
  align-items: center;
  margin: 0;
}

.uk-header__breakpoint:not(:last-of-type) {
  margin-right: 20px;
}

.uk-header__breakpoint-link {
  display: flex;
  align-items: center;
}

.uk-header__breakpoint-link:hover::before {
  border-color: var(--primary);
}

.uk-header__breakpoint-link::before {
  content: "";
  margin-right: 5px;
  border-radius: 5px;
  border: 2px solid #888;
  flex-shrink: 0;
}

.uk-header__breakpoint-link--small::before {
  width: 17px;
  height: 25px;
}

.uk-header__breakpoint-link--medium::before {
  width: 25px;
  height: 35px;
}

.uk-header__breakpoint-link--large::before {
  width: 45px;
  height: 35px;
}

.uk-header__breakpoint-link--full::before {
  width: 50px;
  height: 40px;
  border-style: dashed;
}

.uk-wrapper {
  width: 100%;
  background: #fff;
  padding: 0 15px;
  padding-top: 65px;
  margin: 0 auto;
  transition: 0.4s width cubic-bezier(0.37, 0.62, 0.47, 0.72);
}

.uk-section {
  color: #000;
  width: 100%;
  max-width: 80%;
  margin: 75px auto;
  padding-bottom: 75px;
  border-bottom: 1px solid #eee;
  font-family: "Roboto";
}

.uk-section__title {
  position: -webkit-sticky;
  position: sticky;
  top: 9px;
  max-width: 350px;
  margin-bottom: 45px;
  font-weight: 900;
  font-size: 36px;
  color: #000;
  z-index: 3;
  text-transform: uppercase;
}

.uk-section__article:not(:last-of-type) {
  margin-bottom: 50px;
}

.uk-section__article > h3 {
  text-transform: uppercase;
  color: #999;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 25px;
}

.uk-colorlist {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.uk-colorlist li {
  margin: 20px;
  display: flex;
  flex-basis: calc(30% - 20px);
  min-width: 320px;
}

.uk-colorlist li p {
  margin: 0;
}

.uk-colorlist li i {
  width: 70px;
  height: 70px;
  margin-right: 15px;
  display: block;
  border-radius: 50%;
  flex-shrink: 0;
}

.uk-colorlist li i.uk-color--rpurp {
  background: #6749af;
}

.uk-colorlist li i.uk-color--midblue {
  background: #310a7f;
}

.uk-colorlist li i.uk-color--evour {
  background: #441e92;
}

.uk-colorlist li i.uk-color--fsblue {
  background: #58389f;
}

.uk-colorlist li i.uk-color--fsblue2 {
  background: #6e52ab;
}

.uk-colorlist li i.uk-color--rblue {
  background: #826ab7;
}

.uk-colorlist li i.uk-color--cornblue {
  background: #9784c4;
}

.uk-colorlist li i.uk-color--skyblue {
  background: #c0b5dc;
}

.uk-colorlist li i.uk-color--lavender {
  background: #d6cee7;
}

.uk-colorlist li i.uk-color--aliceblue {
  background: #eae7f3;
}

.uk-colorlist li i.uk-color--midexp {
  background: #202834;
}

.uk-colorlist li i.uk-color--manatee {
  background: #90949b;
}

.uk-colorlist li i.uk-color--arsenic {
  background: #363e49;
}

.uk-colorlist li i.uk-color--fiord {
  background: #4d535e;
}

.uk-colorlist li i.uk-color--shutgrey {
  background: #636972;
}

.uk-colorlist li i.uk-color--stormgrey {
  background: #797e86;
}

.uk-colorlist li i.uk-color--manatee {
  background: #90949b;
}

.uk-colorlist li i.uk-color--mischka {
  background: #a6a9af;
}

.uk-colorlist li i.uk-color--heather {
  background: #bcbfc2;
}

.uk-colorlist li i.uk-color--zumthor {
  background: #d2d4d6;
}

.uk-colorlist li i.uk-color--zirkon {
  background: #e9eaeb;
}

.uk-colorlist li i.uk-color--dpgreen {
  background: #00c853;
}

.uk-colorlist li i.uk-color--rorange {
  background: #f44336;
}

.uk-type__class {
  display: flex;
  align-items: center;
}

.uk-type__class pre {
  margin: 0 0 0 10px;
  border: 1px solid #ccc;
  font-size: 13px;
  padding: 5px;
}

.uk-typoglist {
  margin: 0;
  max-width: 550px;
}

.uk-typoglist li {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.uk-typoglist li > div {
  margin-left: 20px;
  flex-basis: 40%;
}

.uk-fields {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.uk-fields > li {
  margin: 20px;
  flex-basis: calc(25% - 40px);
  max-width: 350px;
  flex-grow: 1;
}

.uk-fields > li.uk-code--opened .uk-field__markup {
  display: block;
}

.uk-fields > li p {
  margin: 0 0 20px 0;
  color: #999;
  font-size: 12px;
}

.uk-fields__info {
  display: flex;
}

.uk-fields--buttons .uk-btn[hover] {
  background: #5A3EA4 !important;
  color: #fff !important;
}

.uk-fields--buttons .uk-btn[active] {
  background: #4E3499 !important;
  color: #fff !important;
}

.uk-fields--inputs li {
  flex-basis: calc(20% - 40px);
}

.uk-fields--inputs .uk-input[focus] {
  border-color: #5634a5;
}

.uk-fields--inputs .uk-input[valid] {
  background: #fff url("../img/icons/check/green.svg") no-repeat calc(100% - 10px) center/18px !important;
  border-color: #00c853;
  padding-right: 35px !important;
}

.uk-fields--inputs .uk-input[invalid] {
  background: #fff url("../img/icons/warning/red.svg") no-repeat calc(100% - 10px) center/18px !important;
  padding-right: 35px !important;
  border-color: #f44336;
}

.uk-fields--inputs .uk-input[invalid] + .uk-input__texterror {
  display: block;
}

.uk-field__info {
  display: flex;
  justify-content: space-between;
  max-width: 240px;
}

.uk-field__code {
  flex-shrink: 0;
}

.uk-field__code span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
  border: 2px solid #d8d8d8;
  border-radius: 2px;
  font-size: 0;
  cursor: pointer;
}

.uk-field__code span::before, .uk-field__code span::after {
  content: "";
  border: solid #d8d8d8;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.uk-field__code span::before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.uk-field__code span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.uk-field__markup {
  display: none;
  width: 100%;
  background: #f5f2f0;
  padding: 10px;
  margin: 10px 0 0 0;
  overflow-y: auto;
  min-height: 50px;
  font-size: 13px;
  text-align: left;
}

html, body {
  height: auto;
}

body {
  position: relative;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.65;
  color: #828282;
  font-family: "Roboto", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  z-index: 222;
  left: 50%;
  height: 100%;
  width: 1px;
  background: red;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

strong, b {
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
  width: 100%;
  display: block;
  min-height: 100px;
}

/* COLORS */
.uk-color--rpurp {
  color: #6749af !important;
}

.uk-color--midblue {
  color: #310a7f !important;
}

.uk-color--evour {
  color: #441e92 !important;
}

.uk-color--fsblue {
  color: #58389f !important;
}

.uk-color--fsblue2 {
  color: #6e52ab !important;
}

.uk-color--rblue {
  color: #826ab7 !important;
}

.uk-color--cornblue {
  color: #9784c4 !important;
}

.uk-color--skyblue {
  color: #c0b5dc !important;
}

.uk-color--lavender {
  color: #d6cee7 !important;
}

.uk-color--aliceblue {
  color: #eae7f3 !important;
}

.uk-color--midexp {
  color: #202834 !important;
}

.uk-color--manatee {
  color: #90949b !important;
}

.uk-color--arsenic {
  color: #363e49 !important;
}

.uk-color--fiord {
  color: #4d535e !important;
}

.uk-color--shutgrey {
  color: #636972 !important;
}

.uk-color--stormgrey {
  color: #797e86 !important;
}

.uk-color--manatee {
  color: #90949b !important;
}

.uk-color--mischka {
  color: #a6a9af !important;
}

.uk-color--heather {
  color: #bcbfc2 !important;
}

.uk-color--zumthor {
  color: #d2d4d6 !important;
}

.uk-color--zirkon {
  color: #e9eaeb !important;
}

.uk-color--dpgreen {
  color: #00c853 !important;
}

.uk-color--rorange {
  color: #f44336 !important;
}

/* TYPOGRAPHY */
.uk-h1 {
  font-size: 48px !important;
  font-weight: normal !important;
  color: #000;
  margin: 0 0 20px 0 !important;
}

.uk-h2 {
  font-size: 34px !important;
  font-weight: normal !important;
  letter-spacing: 0.25px;
  color: #000;
  margin: 0 0 20px 0 !important;
}

.uk-h3 {
  font-size: 24px !important;
  font-weight: normal !important;
  color: #000;
  margin: 0 0 15px 0 !important;
}

.uk-h4 {
  font-size: 20px !important;
  font-weight: 500 !important;
  letter-spacing: 0.25px;
  color: #000;
  margin: 0 0 10px 0 !important;
}

.uk-txt1 {
  font-weight: normal !important;
  font-size: 16px !important;
}

.uk-txt2 {
  font-weight: 500 !important;
  font-size: 14px !important;
  letter-spacing: 0.15px;
}

.uk-txt3 {
  font-weight: normal !important;
  font-size: 16px !important;
}

.uk-txt4 {
  font-weight: normal !important;
  font-size: 14px !important;
}

.uk-txt5 {
  font-weight: normal !important;
  font-size: 12px !important;
  letter-spacing: 0.5px;
}

.uk-txt6 {
  font-weight: normal !important;
  font-size: 12px !important;
  letter-spacing: 1.5px;
}

.uk-txt7 {
  font-weight: 500 !important;
  font-size: 14px !important;
  letter-spacing: 0.5px;
}

/* Buttons */
.uk-btn {
  background: #6749af !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 11px 30px;
  line-height: 1.3;
  text-transform: uppercase;
  min-width: 140px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff !important;
  text-decoration: none !important;
  outline: none !important;
  border: none !important;
  cursor: pointer;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: background 0.3s, color 0.3s;
}

.uk-btn:hover {
  background: #5A3EA4 !important;
  color: #fff !important;
}

.uk-btn:active {
  background: #4E3499 !important;
  color: #fff !important;
}

.uk-btn i {
  margin-right: 8px;
  font-size: 16px;
}

.uk-btn--light {
  background: #f4f2f9 !important;
  color: #6749af !important;
}

.uk-btn--outline {
  background: #fff !important;
  color: #6749af !important;
  border: solid 1px #6749af !important;
}

.uk-btn[disabled], .uk-btn--disabled {
  background: #e9eaeb !important;
  color: #bcbfc2 !important;
  border-color: #e9eaeb !important;
  cursor: default;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.uk-btn[disabled]:hover, .uk-btn[disabled]:active, .uk-btn--disabled:hover, .uk-btn--disabled:active {
  background: #e9eaeb !important;
  color: #bcbfc2 !important;
  cursor: default;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

/* INPUTS*/
.uk-input__texterror {
  display: none;
  color: #f44336;
  font-size: 12px;
}

.uk-input__textinfo {
  font-size: 12px;
  color: #90949b;
}

.uk-input__textinfo i {
  font-style: normal;
  cursor: pointer;
}

input.uk-input,
textarea.uk-input,
select.uk-input {
  background: #fff;
  width: 100%;
  display: block;
  padding: 11px 12px;
  min-height: 40px;
  margin: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: normal;
  border: none;
  outline: none !important;
  color: #333;
  border-radius: 4px;
  border: solid 1px #d2d4d6;
  box-shadow: none;
  transition: 0.3s border;
}

input.uk-input::-webkit-input-placeholder,
textarea.uk-input::-webkit-input-placeholder,
select.uk-input::-webkit-input-placeholder {
  color: #CFDDE2;
  opacity: 1;
  transition: 0.3s all;
}

input.uk-input:-ms-input-placeholder,
textarea.uk-input:-ms-input-placeholder,
select.uk-input:-ms-input-placeholder {
  color: #CFDDE2;
  opacity: 1;
  transition: 0.3s all;
}

input.uk-input::-ms-input-placeholder,
textarea.uk-input::-ms-input-placeholder,
select.uk-input::-ms-input-placeholder {
  color: #CFDDE2;
  opacity: 1;
  transition: 0.3s all;
}

input.uk-input::placeholder,
textarea.uk-input::placeholder,
select.uk-input::placeholder {
  color: #CFDDE2;
  opacity: 1;
  transition: 0.3s all;
}

textarea.uk-input {
  resize: vertical;
  max-height: 200px;
  min-height: 40px;
  height: 40px;
}

input[type='radio'].uk-input,
input[type='checkbox'].uk-input,
select.uk-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  cursor: pointer;
}

.uk-input:focus {
  border-color: #5634a5;
}

.uk-input:focus::-webkit-input-placeholder {
  -webkit-transform: translateX(9px);
          transform: translateX(9px);
  opacity: 0;
}

.uk-input:focus:-ms-input-placeholder {
  transform: translateX(9px);
  opacity: 0;
}

.uk-input:focus::-ms-input-placeholder {
  transform: translateX(9px);
  opacity: 0;
}

.uk-input:focus::placeholder {
  -webkit-transform: translateX(9px);
          transform: translateX(9px);
  opacity: 0;
}

.uk-input:required:valid {
  background: #fff url("../img/icons/check/green.svg") no-repeat calc(100% - 10px) center/18px !important;
  border-color: #00c853;
  padding-right: 35px !important;
}

.uk-input.uk-input--touched:required:invalid {
  background: #fff url("../img/icons/warning/red.svg") no-repeat calc(100% - 10px) center/18px !important;
  padding-right: 35px !important;
  border-color: #f44336;
}

.uk-input.uk-input--touched:required:invalid + .uk-input__texterror {
  display: block;
}

.uk-input[disabled] {
  background: #e9eaeb url("../img/icons/block/grey.svg") no-repeat calc(100% - 10px) center/18px !important;
  padding-right: 35px !important;
  color: #90949b !important;
  border-color: #e9eaeb !important;
  cursor: default;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.uk-input[type='search'] {
  border-radius: 4px 0 0 4px;
  border-right: none;
}

.uk-input[type='checkbox'], .uk-input[type='radio'] {
  background: #fff;
  position: relative;
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  transition: 0.2s;
}

.uk-input[type='checkbox'] {
  border-radius: 2px;
}

.uk-input[type='checkbox']::before {
  content: "";
  position: absolute;
  top: 0;
  left: 4px;
  width: 6px;
  height: 12px;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  -webkit-transform: rotate(45deg) scale(0);
          transform: rotate(45deg) scale(0);
  transition: 0.2s;
}

.uk-input[type='checkbox']:checked {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.uk-input[type='checkbox']:checked::before {
  -webkit-transform: rotate(45deg) scale(1);
          transform: rotate(45deg) scale(1);
}

.uk-input[type='radio'] {
  border-radius: 50%;
}

.uk-input[type='radio']::before {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  top: 3px;
  left: 3px;
  border: none;
  width: 8px;
  height: 8px;
  border-radius: inherit;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: 0.2s;
}

.uk-input[type='radio']:checked {
  border-color: var(--main-color);
  background-color: #fff;
}

.uk-input[type='radio']:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.uk-input__search {
  display: flex;
  align-items: flex-start;
}

.uk-input__search-btn {
  background: #5634a5;
  color: #fff;
  border: none;
  outline: none;
  height: 41px;
  width: 41px;
  border-radius: 0 4px 4px 0;
  flex-shrink: 0;
}

.uk-input__searchfield {
  width: 100%;
}

/* SELECT */
.uk-select {
  visibility: hidden;
  opacity: 0;
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
          clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
  position: absolute;
  left: -99999px;
  top: -99999px;
}

.uk-select__wrap {
  position: relative;
}

.uk-select__val {
  background: #fff url(../img/icons/arrow/bot.svg) no-repeat calc(100% - 10px) center/18px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  font-size: 14px;
  color: #90949b;
  line-height: 2;
  max-height: 40px;
  overflow: hidden;
  border: solid 1px #d2d4d6;
  border-radius: 4px;
  z-index: 10000;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.uk-select__val--active {
  background-image: url(../img/icons/arrow/top.svg);
  border-color: rgba(87, 53, 167, 0.5);
  border-width: 2px;
  color: #333333;
}

.uk-select__val--active + .uk-select__options {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  border-color: rgba(87, 53, 167, 0.5);
  border-width: 2px;
}

.uk-select__options {
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 9999;
  margin: 0;
  padding: 0;
  margin-top: -3px;
  list-style: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #d2d4d6;
  background-color: #ffffff;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  will-change: transform,opacity;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.uk-select__options li {
  font-size: 14px;
  margin: 0;
  padding: 12px;
  padding-right: 36px;
  cursor: pointer;
  transition: 0.3s;
}

.uk-select__options li:hover {
  background-color: rgba(87, 53, 167, 0.05);
  color: #5634a5;
}

.uk-select__li--active {
  background-color: rgba(87, 53, 167, 0.05);
  color: #5634a5;
}
