/* COLORS */
.uk-color
    &--rpurp
        color: #6749af!important
    &--midblue
        color: #310a7f!important
    &--evour
        color: #441e92!important
    &--fsblue
        color: #58389f!important
    &--fsblue2
        color: #6e52ab!important
    &--rblue
        color: #826ab7!important
    &--cornblue
        color: #9784c4!important
    &--skyblue
        color: #c0b5dc!important
    &--lavender
        color: #d6cee7!important
    &--aliceblue
        color: #eae7f3!important
    &--midexp
        color: #202834!important
    &--manatee
        color: #90949b!important
    &--arsenic
        color: #363e49!important
    &--fiord
        color: #4d535e!important
    &--shutgrey
        color: #636972!important
    &--stormgrey
        color: #797e86!important
    &--manatee
        color: #90949b!important
    &--mischka
        color: #a6a9af!important
    &--heather
        color: #bcbfc2!important
    &--zumthor
        color: #d2d4d6!important
    &--zirkon
        color: #e9eaeb!important
    &--dpgreen
        color: #00c853!important
    &--rorange
        color: #f44336!important

/* TYPOGRAPHY */
.uk
    &-h1
        font-size: 48px!important
        font-weight: normal!important
        color: #000
        margin: 0 0 20px 0!important
    &-h2
        font-size: 34px!important
        font-weight: normal!important
        letter-spacing: 0.25px
        color: #000
        margin: 0 0 20px 0!important
    &-h3
        font-size: 24px!important
        font-weight: normal!important
        color: #000
        margin: 0 0 15px 0!important
    &-h4
        font-size: 20px!important
        font-weight: 500!important
        letter-spacing: 0.25px
        color: #000
        margin: 0 0 10px 0!important
    &-txt1
            font-weight: normal!important
            font-size: 16px!important
    &-txt2
            font-weight: 500!important
            font-size: 14px!important
            letter-spacing: 0.15px
    &-txt3
            font-weight: normal!important
            font-size: 16px!important
    &-txt4
            font-weight: normal!important
            font-size: 14px!important
    &-txt5
            font-weight: normal!important
            font-size: 12px!important
            letter-spacing: 0.5px
    &-txt6
            font-weight: normal!important
            font-size: 12px!important
            letter-spacing: 1.5px
    &-txt7
            font-weight: 500!important
            font-size: 14px!important
            letter-spacing: 0.5px

/* Buttons */
.uk-btn
    background: #6749af!important
    display: inline-flex
    align-items: center
    justify-content: center
    padding: 11px 30px
    line-height: 1.3
    text-transform: uppercase
    min-width: 140px
    font-family: 'Roboto', sans-serif
    font-size: 14px
    font-weight: 500
    font-style: normal
    letter-spacing: 0.5px
    text-align: center
    color: #ffffff!important
    text-decoration: none!important
    outline: none!important
    border: none !important
    cursor: pointer
    border-radius: 4px
    user-select: none
    transition: background 0.3s, color 0.3s
    &:hover
        background: #5A3EA4!important
        color: #fff!important
    &:active
        background: #4E3499!important
        color: #fff!important
    i
        margin-right: 8px
        font-size: 16px
    &--light
        background: #f4f2f9!important
        color: #6749af!important
    &--outline
        background: #fff!important
        color: #6749af!important
        border: solid 1px #6749af!important
    &[disabled],
    &--disabled
        background: #e9eaeb!important
        color: #bcbfc2!important
        border-color: #e9eaeb!important
        cursor: default
        filter: grayscale(1)
        &:hover,
        &:active
            background: #e9eaeb!important
            color: #bcbfc2!important
            cursor: default
            filter: grayscale(1)
    &--full
        width: 100% !important

/* INPUTS*/
.uk-input
    &__texterror
        display: none
        color: #f44336
        font-size: 12px
    &__textinfo
        font-size: 12px
        color: #90949b
        font-weight: 400
        i
            font-style: normal
            cursor: pointer
    &__row
        margin-bottom: 30px
        display: block
        > p
            color: #90949b
            font-size: 12px
            margin: 0 0 5px 0
            font-weight: 400
            line-height: normal
            user-select: none

input,
textarea,
select
    &.uk-input
        background: #fff
        width: 100%
        display: block
        padding: 11px 12px
        min-height: 40px
        margin: 0
        font-size: 14px
        font-family: "Roboto", sans-serif
        font-weight: normal
        line-height: normal
        border: none
        outline: none!important
        color: #333
        border-radius: 4px
        border: solid 1px #d2d4d6
        box-shadow: none
        transition: 0.3s border
        &::placeholder
            color: #CFDDE2
            opacity: 1
            transition: 0.3s all
textarea
    &.uk-input
        resize: vertical
        max-height: 200px
        min-height: 40px
        height: 40px
select
    &.uk-input
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        border-radius: 0
        cursor: pointer

.uk-input
    &:focus
        border-color: #5634a5
        &::placeholder
            transform: translateX(9px)
            opacity: 0
    &:required:valid
        background: #fff url('../img/icons/check/green.svg') no-repeat calc(100% - 10px) center/18px !important
        border-color: #00c853
        padding-right: 35px !important
    &.uk-input--touched:required:invalid
        background: #fff url('../img/icons/warning/red.svg') no-repeat calc(100% - 10px) center/18px !important
        padding-right: 35px !important
        border-color: #f44336
        & + .uk-input__texterror
            display: block
    &[disabled]
        background: #e9eaeb url('../img/icons/block/grey.svg') no-repeat calc(100% - 10px) center/18px !important
        padding-right: 35px !important
        color: #90949b !important
        border-color: #e9eaeb !important
        cursor: default
        filter: grayscale(1)
    &[type='search']
        border-radius: 4px 0 0 4px
        border-right: none

/* Checkbox and radio*/
.uk-input
    &__label
        margin: 0
        display: inline-flex
        align-items: center
        font-size: 14px
        font-weight: normal
        font-family: 'Roboto', sans-serif
        color: #333333
        user-select: none
        > span
            line-height: normal
        &--error
            & + .uk-input__texterror
                display: block
.uk-input--cb
    &[type='checkbox'],
    &[type='radio']
        background: #fff
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        border-radius: 4px
        outline: none!important
        position: relative
        padding: 0
        margin: 5px
        cursor: pointer
        width: 18px
        height: 18px
        min-height: auto
        border: 2px solid #90949B
        flex-shrink: 0
        transition: 0.2s
        &[disabled],
        &[disabled]:checked
            background-color: #e9eaeb !important
            border-color: #e9eaeb !important
            cursor: not-allowed
            filter: grayscale(1)
            + *
                color:  #d8d8d8
                cursor: not-allowed
    &.uk-input--clicked:required:invalid
        border-color: #f44336
        background-color: #fff


    &[type='checkbox']
        border-radius: 2px
        &::before
            content: ""
            position: absolute
            top: 0
            left: 4px
            width: 6px
            height: 12px
            border: 2px solid #fff
            border-top-width: 0
            border-left-width: 0
            transform: rotate(45deg) scale(0)
            transition: 0.2s
        &:checked
            background-color: #5634a5 !important
            border-color: #5634a5 !important
            &::before
                transform: rotate(45deg) scale(1)
        &:not(:disabled):hover
            border-color: #5634a5 !important

    &[type='radio']
        border-radius: 50%
        &::before
            content: ""
            background-color: #5634a5
            position: absolute
            top: 3px
            left: 3px
            border: none
            width: 8px
            height: 8px
            border-radius: inherit
            transform: scale(0)
            transition: 0.2s
        &:checked
            border-color: #5634a5
            background-color: #fff
            &::before
                transform: scale(1)
        &:not(:disabled):hover
            border-color: #5634a5 !important

/* PASSWROD */
.uk-input
    &__password
        position: relative
        input[type='password'].uk-input:required,
        input[type='text'].uk-input:required
            background: none !important
        &-view
            position: absolute
            right: 15px
            top: calc(50% - 7px)
            width: 15px
            height: 15px
            background: url('../img/icons/eye/grey.svg') no-repeat center/contain !important

/* SEARCH */
.uk-input
    &__search
        display: flex
        align-items: flex-start
        &-btn
            background: #5634a5
            color: #fff
            border: none
            outline: none
            height: 41px
            width: 41px
            border-radius: 0 4px 4px 0
            flex-shrink: 0
    &__searchfield
        width: 100%


/* SELECT */
.uk-select
    visibility: hidden
    opacity: 0
    clip-path: polygon(0px 0px,0px 0px,0px 0px,0px 0px)
    position: absolute
    left: -99999px
    top: -99999px
    &__wrap
        position: relative
    &__val
        background: #fff url(../img/icons/arrow/bot.svg) no-repeat calc(100% - 10px) center/18px
        position: relative
        display: flex
        align-items: center
        padding: 8px 12px
        font-size: 14px
        color: #90949b
        max-height: 40px
        overflow: hidden
        border: solid 1px #d2d4d6
        border-radius: 4px
        z-index: 9998
        cursor: pointer
        user-select: none
        &--active
            background-image: url(../img/icons/arrow/top.svg)
            border-color:  rgba(87, 53, 167, 0.5)
            border-width: 2px
            color: #333333
            + .uk-select__options
                visibility: visible
                opacity: 1
                transform: scale(1)
                border-color: rgba(87, 53, 167, 0.5)
                border-width: 2px
    &__options
        visibility: hidden
        opacity: 0
        overflow-y: auto
        position: absolute
        top: 100%
        right: 0
        left: 0
        z-index: 9999
        margin: 0
        padding: 0
        margin-top: -3px
        list-style: none
        border-radius: 0 0 4px 4px
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.1)
        border: solid 1px #d2d4d6
        background-color: #ffffff
        transform: scaleY(0)
        transform-origin: top
        will-change: transform,opacity
        transition: transform .2s
        li
            font-size: 14px
            margin: 0
            padding: 12px
            padding-right: 36px
            cursor: pointer
            transition: 0.3s
            &:hover
                background-color: rgba(87, 53, 167, 0.05)
                color: #5634a5
    &__li--active
        background-color: rgba(87, 53, 167, 0.05)
        color: #5634a5

/* SWITCHER */
.uk-switch 
    position: relative
    display: inline-block
    width: 52px
    height: 26px
    margin: 0
    &__input  
        opacity: 0
        width: 0
        height: 0
        &:checked 
            + .uk-switch__slider 
                background-color: #5634a5
                &:before 
                    transform: translateX(calc(100% + 8px))
    &__slider
        position: absolute
        cursor: pointer
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: #d2d4d6
        border-radius: 14px
        transition: .4s
        &:before
            position: absolute
            content: ""
            height: 18px
            width: 18px
            left: 4px
            bottom: 4px
            background-color: white
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2)
            border-radius: 50%
            transition: .4s

/* RANGE SLIDER */
.uk-range
    width: 100%
    display: block
    &__slider
        -webkit-appearance: none
        appearance: none
        width: 100% 
        height: 2px
        background: #d2d4d6
        outline: none
        opacity: 0.7
        transition: opacity .2s
    &__slider:hover
        opacity: 1
    &__slider::-webkit-slider-thumb
        -webkit-appearance: none
        appearance: none
        width: 12px
        height: 12px
        background: #5634a5
        border-radius: 50%
        cursor: pointer
    &__slider::-moz-range-thumb
        width: 12px 
        height: 12px
        background: #5634a5
        border-radius: 50%
        cursor: pointer


/* TABS */
.uk-tabs
    &__btns
        display: flex
        flex-wrap: wrap
    &__btn
        background: #f4f2f9 !important
        padding: 11px 30px
        line-height: 1.3
        text-transform: uppercase
        min-width: 120px
        font-family: 'Roboto', sans-serif
        font-size: 14px
        font-weight: 500
        font-style: normal
        letter-spacing: 0.5px
        text-align: center
        color: rgba(86, 52, 165, 0.5)
        text-decoration: none !important
        outline: none !important
        border: none !important
        cursor: pointer
        border-radius: 0
        user-select: none
        transition: background 0.3s, color 0.3s
        &--active
            background: #6749af !important
            color: #fff !important
        &:not(.uk-tabs__btn--active):hover
            color: #5634a5!important
        &:first-of-type
            border-radius: 4px 0 0 0
        &:last-of-type
            border-radius: 0 4px 0 0

/* SLIDER DOTS */
.uk-dots
    &__list
        display: flex
        flex-wrap: wrap
        margin: 0
        padding: 0
        list-style: none
    &__item
        margin: 4px
    &__btn
        margin: 0
        padding: 0
        width: 10px
        height: 10px
        border-radius: 50%
        flex-shrink: 0
        font-size: 0
        border: none
        outline: none
        background: rgba(86, 52, 165, 0.2)
        transform: none
        transition: 0.3s
        &--active
            background: #5634a5!important
        &:hover
            box-shadow: inset 0 0 0 1px #5634a5
            background: #fff

/* AMOUNT BUTTONS*/
.uk-amount
    &--more
        .uk-amount__btn--minus
            background: #d2d4d6
    &--focused
        .uk-amount__btn
            background: #5634a5
        .uk-amount__input
            border-color: #5634a5
    &__btns
        width: 100%
        max-width: 120px
        height: 32px
        display: flex
        align-items: center
        text-align: center
    &__btn
        position: relative
        display: inline-flex
        align-items: center
        justify-content: center
        height: 100%
        width: 32px
        padding: 0
        line-height: 1
        outline: none
        flex-shrink: 0
        text-align: center
        background: #e9eaeb
        border: none
        color: #fff
        font-size: 0
        transition: 0.3s background
        &::before,
        &::after
            background-color: #fff
            position: absolute
            top: calc(50% - 1px)
            left: calc(50% - 6px)
            width: 12px
            height: 2px
            content: ""
        &--minus
            border-radius: 4px 0 0 4px
            &::after
                display: none
        &--plus
            border-radius: 0 4px 4px 0
            background: #5634a5
            &::after
                width: 2px
                height: 12px
                top: calc(50% - 6px)
                left: calc(50% - 1px)

    &__input
        height: 100%
        width: 100%
        text-align: center
        border: solid 1px #e9eaeb
        border-left: none
        border-right: none
        outline: none
        transition: 0.3s border
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button
            -webkit-appearance: none
            -moz-appearance: none
            margin: 0


/* POPUP */
.uk-popup
    visibility: hidden
    opacity: 0
    position: fixed
    background-color: rgba(0, 0, 0, 0.2)
    z-index: 1000000
    left: 0
    top: 0
    width: 100vw
    height: 100vh
    overflow: auto
    padding: 15px
    display: flex
    justify-content: center
    align-items: center
    &[data-visible='true']
        animation: OpenPopup 0.3s both
        visibility: visible
        opacity: 1
    &[data-visible='false']
        animation: ClosePopup 0.3s both
        visibility: hidden
        opacity: 0
    &__close
        position: absolute
        right: 10px
        top: 10px
        background: none
        color: #333
        font-size: 18px
        line-height: 1
        padding: 0
        margin: 0
        outline: none
        border: none
        cursor: pointer
        z-index: 3
        &::before
            content: '\2715'
    &__inner
        position: relative
        font-size: 18px
        width: 100%
        max-width: 360px
        max-height: 100%
        overflow-y: auto
        background-color: #fff
        box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3), 0 0 24px 0 rgba(0, 0, 0, 0.22)
        border-radius: 4px
    &__head
        padding: 20px 30px
        background-color: #F6F5FA
        &-title
            font-size: 24px
            color: #333
            line-height: normal
    &__content
        padding: 20px 30px

/* Popup animation*/
@keyframes OpenPopup
    from
        transform: scale(1.1)
        opacity: 0

    to
        transform: scale(1)
        opacity: 1

@keyframes ClosePopup
    from
        visibility: visible;
        transform: scale(1)
        opacity: 1

    to
        transform: scale(1.1)
        opacity: 0
        visibility: hidden