
.uk
    &-main
        display: flex
        height: 100%
    &-content
        position: relative
        width: 100%
        margin-left: 250px
        flex-grow: 1
        background: #f3f3f3
    
//ASIDE
.uk-aside
    flex-shrink: 0
    width: 250px
    height: 100%
    position: fixed
    left: 0
    background: #fff
    z-index: 2
    border-right: 1px solid #eee
    &__nav
    &__logo
        display: block
        border-bottom: 1px solid #eeeeee
    &__list
        margin: 0
        padding-top: 45px
        &-item
            a
                display: block
                padding: 12px 16px 12px 29px
                color: #777
                font-weight: 700
                font-family: 'Roboto', sans-serif
                text-decoration: none
                font-size: 16px
                line-height: 1.5
                border-left: 0 solid var(--primary)
                outline: none
                transition: all 0.4s ease
                &:hover
                    color: var(--primary)
                    border-left: 4px solid var(--primary)
                &.active
                    color: var(--primary)
                    border-left: 4px solid var(--primary)
//HEADER
.uk
    &-header
        background: #fff
        display: block
        position: fixed
        height: 65px
        width: calc(100% - 250px)
        top: 0
        left: 250px
        right: 0
        z-index: 999998
        border-bottom: 1px solid #eee
        font-family: 'Roboto', sans-serif
        &__inner
            display: flex
            justify-content: space-between
            align-items: center
            height: 100%
            padding: 0 30px
        &__copyright
            font-size: 14px
        &__breakpoints
            display: flex
            align-items: center
            margin: 0
        &__breakpoint
            &:not(:last-of-type)
                margin-right: 20px
            &-link
                display: flex
                align-items: center
                &:hover
                    &::before
                        border-color: var(--primary)
                &::before
                    content: ""
                    margin-right: 5px
                    border-radius: 5px
                    border: 2px solid #888
                    flex-shrink: 0
                &--small::before
                    width: 17px
                    height: 25px
                &--medium::before
                    width: 25px
                    height: 35px
                &--large::before
                    width: 45px
                    height: 35px
                &--full::before
                    width: 50px
                    height: 40px
                    border-style: dashed

    &-wrapper
        width: 100%
        background: #fff
        padding: 0 15px
        padding-top: 65px
        margin: 0 auto
        transition: 0.4s width cubic-bezier(0.37,0.62,0.47,0.72)
    &-section
        color: #000
        width: 100%
        max-width: 80%
        margin: 75px auto
        padding-bottom: 75px
        border-bottom: 1px solid #eee
        font-family: "Roboto"
        &__title
            position: sticky
            top: 9px
            max-width: 350px
            margin-bottom: 45px
            font-weight: 900
            font-size: 36px
            color: #000
            z-index: 999999
            text-transform: uppercase
        &__article
            &:not(:last-of-type)
                margin-bottom: 50px
            > h3
                text-transform: uppercase
                color: #999
                font-size: 16px
                font-weight: 500
                margin-bottom: 25px
    &-colorlist
        margin: 0
        display: flex
        flex-wrap: wrap
        li
            margin: 20px
            display: flex
            flex-basis: calc(30% - 20px)
            min-width: 320px
            p
                margin: 0
            i
                width: 70px
                height: 70px
                margin-right: 15px
                display: block
                border-radius: 50%
                flex-shrink: 0
                &.uk-color
                    &--rpurp
                        background: #6749af
                    &--midblue
                        background: #310a7f
                    &--evour
                        background: #441e92
                    &--fsblue
                        background: #58389f
                    &--fsblue2
                        background: #6e52ab
                    &--rblue
                        background: #826ab7
                    &--cornblue
                        background: #9784c4
                    &--skyblue
                        background: #c0b5dc
                    &--lavender
                        background: #d6cee7
                    &--aliceblue
                        background: #eae7f3
                    &--midexp
                        background: #202834
                    &--manatee
                        background: #90949b
                    &--arsenic
                        background: #363e49
                    &--fiord
                        background: #4d535e
                    &--shutgrey
                        background: #636972
                    &--stormgrey
                        background: #797e86
                    &--manatee
                        background: #90949b
                    &--mischka
                        background: #a6a9af
                    &--heather
                        background: #bcbfc2
                    &--zumthor
                        background: #d2d4d6
                    &--zirkon
                        background: #e9eaeb
                    &--dpgreen
                        background: #00c853
                    &--rorange
                        background: #f44336
    &-type__class
        display: flex
        align-items: center
        pre
            margin: 0 0 0 10px
            border: 1px solid #ccc
            font-size: 13px
            padding: 5px
    &-typoglist
        margin: 0
        max-width: 550px
        li
            margin: 20px
            display: flex
            justify-content: space-between
            > div
                margin-left: 20px
                flex-basis: 40%
    &-fields
        margin: 0
        display: flex
        flex-wrap: wrap
        > li
            margin: 20px
            flex-basis: calc(25% - 40px)
            max-width: 350px
            min-width: 250px
            flex-grow: 1
            &.uk-code--opened
                .uk-field__markup
                    display: block
            p
                margin: 0 0 20px 0
                color: #999
                font-size: 12px
        &__info
            display: flex
        &--buttons
            .uk-btn[hover]
                background: #5A3EA4!important
                color: #fff!important
            .uk-btn[active]
                background: #4E3499!important
                color: #fff!important
        &--inputs
            li
                flex-basis: calc(20% - 40px)
            .uk-input
                &[focus]
                    border-color: #5634a5
                &[valid]
                    background: #fff url('../img/icons/check/green.svg') no-repeat calc(100% - 10px) center/18px !important
                    border-color: #00c853
                    padding-right: 35px !important
                &[invalid]
                    background: #fff url('../img/icons/warning/red.svg') no-repeat calc(100% - 10px) center/18px !important
                    padding-right: 35px !important
                    border-color: #f44336
                    & + .uk-input__texterror
                        display: block
        &--other
            > li
                flex-basis: calc(20% - 40px)
            .uk-input__label--error input
                border-color: #f44336 !important
            
    &-field
        &__info
            display: flex
            justify-content: space-between
            max-width: 240px
        &__code
            flex-shrink: 0
            span
                display: flex
                justify-content: center
                align-items: center
                width: 30px
                height: 20px
                border: 2px solid #d8d8d8
                border-radius: 2px
                font-size: 0
                cursor: pointer
                &::before,
                &::after
                    content: ""
                    border: solid #d8d8d8
                    border-width: 0 2px 2px 0
                    display: inline-block
                    padding: 3px
                &::before
                    transform: rotate(135deg)
                &::after
                    transform: rotate(-45deg)
        &__markup
            display: none
            width: 100%
            background: #f5f2f0
            padding: 10px
            margin: 10px 0 0 0
            overflow-y: auto
            min-height: 50px
            font-size: 13px
            text-align: left
